<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
            android:name="android.hardware.camera"
            android:required="false"/> <!-- Sceneform requires OpenGL ES 3.0 or later. -->
    <uses-feature
            android:glEsVersion="0x00030000"
            android:required="true"/>
    <!--
 Indicates that app requires ARCore ("AR Required"). Ensures the app is
         visible only in the Google Play Store on devices that support ARCore.
         For "AR Optional" apps remove this line.
    -->
    <uses-feature
            android:name="android.hardware.camera.ar"
            android:required="true"/>

    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="28"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@drawable/mock_version_logo1"
            android:label="@string/app_name"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@drawable/mock_version_logo1"
            android:supportsRtl="true"
            android:theme="@style/Theme.PLANTITOTITA"
            tools:targetApi="31">
        <activity
                android:name=".mainmodule.PlantInformationActivity"
                android:exported="false"/>
        <activity
                android:name=".mainmodule.AboutUsPage"
                android:exported="false"/>
        <activity
                android:name=".mainmodule.FeedbackPage"
                android:exported="false"/>
        <activity
                android:name=".mainmodule.SettingsPage"
                android:exported="false"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.meliodas.plantitotita.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

        <meta-data
                android:name="com.google.ar.core"
                android:value="required"/>

        <activity
                android:name=".mainmodule.ArSceneActivity"
                android:exported="false"/>
        <activity
                android:name="com.yalantis.ucrop.UCropActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
                android:name=".mainmodule.EditProfilePage"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".mainmodule.ViewProfilePage"
                android:exported="false"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".mainmodule.HomePage"
                android:exported="false"
                android:screenOrientation="portrait"
                android:enableOnBackInvokedCallback="true">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".loginmodule.RegistrationPage"
                android:exported="false"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".loginmodule.WelcomePage"
                android:exported="false"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".loginmodule.LoginPage"
                android:exported="false"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".loginmodule.SplashScreenPage"
                android:exported="true"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>